.root{
    -fx-font-smoothing-type: gray;
    -fx-font-family: "Liberation Sans", "Courier New";
}


.tree-cell {
    -fx-font-family: "Liberation Sans", "Courier New";
    -fx-indent: 3;
} 

.tree-cell:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: #333;
    -fx-font-weight: bold;
    
}

.tree-cell:even {
    -fx-background-color: #ededed;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}

